.LoginPage{
    background-image:url("../assets/LoginBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoginPage h1{
    margin: 0%;
    padding: 0px;
}

.loginForm{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    outline: 1px solid black;
}

.loginForm input{
    width: 90%;
    height: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3%;
    font-size: 100%;
    color: #000;
}

.loginForm img{
    height: 20%;
}

.loginForm h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    width: 100%;
    text-align: center;
}

.loginForm button{
    margin-top: 3%;
    height: 7%;
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    width:60%; 
    color: #000;
}

.loginForm button:hover{
    background-color: #fff;
    outline: 1px solid black;
    transition: 1s;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

